[build]
  command = "npm install && npm run build"
  publish = "dist"

# Prevent Python backend folder from triggering Python installation
ignore = "git diff --quiet HEAD^ HEAD Backend/"


[build.environment]
  NODE_VERSION = "18"
  PYTHON_VERSION = "3.10.12"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "SAMEORIGIN"
    X-Content-Type-Options = "nosniff"
    X-XSS-Protection = "1; mode=block"
    Referrer-Policy = "strict-origin-when-cross-origin"

[[headers]]
  for = "/api/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
